* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.off-screen-menu {
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: right .5s;
}

.off-screen-menu.active {
    right: 0;
}

/* Padding around navigation menu */
nav {
    padding: 1rem;
    display: flex;
    /* background-color: #343749; */
    background-color: orange;
    /* justify-content: center; */
}

/* position: relative because children will be position: absolute */
.hamburger-menu {
    background-color: yellow;
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    /* cursor: pointer; */
    /* padding: 1rem; */
}

/* position: absolute inside of hamberger-menu */
.hamburger-menu span{
    height: 5px;
    width: 80%;
    background-color: blue;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburger-menu span:nth-child(1) {
    top: 25%;
}

.hamburger-menu span:nth-child(3) {
    top: 75%;
}

.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* .ham-bar {
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
} */

/* .hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
} */

/* .hamburger-menu.active .bar-mid {
    opacity: 0;
} */

/* .hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
} */
