/* Larger Views ******************************/
@media screen and (min-width: 650px) {

    /* background-color: aqua; */
	nav ul li {
        /* background-color: var(--accent_color3); */
        background-color: aqua;

    }

    .filtering {
        display: flex;
    }

    /* Change state in large view */
    .filtering li {
        display: block;
        flex: 1 1 100%;
    }

    .filtering a {
        text-align: center;
    }
    
    #filtermenu {
        display: none;
    }
}
