:root {
    --back_color1: #0D1B2A;
    --back_color2: #1D5599;
    --back_color3: #57849C;
    --accent_color1: #7FC6DE;
    --accent_color2: #DFDFDF;
    --accent_color3: #EFEFEF;
    --wild_red: #FF0000;
    --sunburst_red: #CC0000;
}

* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
    /* max-width: 600px; */
}

h1 {
    /* font-style: arimo; */
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

body {
    background-color: white;
    font-family: Roboto, sans-serif;
}

/* padding: 0px keeps nav-bar at bottom of header */
header {
    /* background-color: var(--back_color1); */
    background-color: white;
    padding: 1rem;
    color: var(--sunburst_red);
    border: none;
}

img {
    justify-content: center;
    margin: auto;
}

main {
    position: relative;
    padding: 1rem;
    background-color: white;
    /* background-color: var(--accent_color2); */
    min-width: 400px;
}

footer {
    padding: 1rem;
    color: white;
    background-color: var(--back_color1);
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* <uniquifier>: Use a unique and descriptive class name <weight>: Use a value from 400 to 700 */

.arimo {
  font-family: "Arimo", sans-serif;
}

.roboto {
    font-family: Arial, Helvetica, sans-serif;
}