/* Larger Views ******************************/
@media screen and (min-width: 400px) {

	nav ul li {
        background-color: aqua;
    }

    .navigation a:hover {
        background-color: yellow;
        color: #333;
        font-weight: 700;
    }
    
    .navpane{
        background-color: red;
    }
}
